# Python
# Byte-code files
*.pyc
__pycache__/

# Virtual environment
myenv/
env/
venv/
env.bak/
bin/
lib/
include/
share/
*.stackdump

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env